<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<h1> Su contrasena ha sido modificada exitosamente </h1>


    <thead>
        <th> Hola usuario, usted solicito un cambio de contraseña para su cuenta en RedEx </th>
    </thead>
<p>
    Su nueva contraseña es
     <span th:text="${miContrasenha}"> contraseña </span>.
</p>
<p>
    Si necesita ayuda, por favor ponganse en contacto con el administrador del sitio.
</p>
</body>
</html>
